.add-button {
    border: none;
    background-color: #3adfa2;
    color: #54575f;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -6.2%;
    left: 39%;
}
.add-button:hover {
    background-color: #1daf7a;
    cursor: pointer;
}