.tododate {
    display: flex;
    width: 80%;
    height: 25%;
    justify-content: space-between;
    margin: 15px auto 10px;    
}
  .innertododate {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.date {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
}
.monthyear {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}
#month {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}
#year {
    margin: 0;
}
.day {
    display: flex;
    width: 80%;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.4em;
    font-weight: 500;
    padding: 5px;
    right: 0;
} 

/* .tododate {
    width: 85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    position: fixed;
  }
  .innertododate {
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
  }
  .date {
    color: #68696d;
    font-weight: 600;
    font-size: 2rem;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .monthyear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
  }
  #month {
    color: #8b8c94;
    text-transform: uppercase;
    margin-bottom:2px;
  }
  #year {
    color: #8b8c94;
  }
  
  .day {
    display: flex;
    justify-content: center;
    color: #838691;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 16px;
  } */